Weather.xcodeproj/xcuserdata/dobrota.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Weather.xcodeproj/project.xcworkspace/xcuserdata/dobrota.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
Weather.xcodeproj/xcuserdata/dobrota.xcuserdatad/xcschemes/xcschememanagement.plist
